<div class= 'container py-5'>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-11 offset-md-2 offset-0 text-center">
      <h4 class="title">商品編集</h4>
    </div>
  </div>
  <div class= 'row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto  ">
    <%= render 'form', item: @item %>
    </div>
  </div>
</div>


