<div class= 'container'>
  <div class= 'row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto ">
    <h4>商品新規登録</h4>
    <%= render 'form', item: @item %>
    </div>
  </div>
</div>



