<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 mb-5"></div>
    <div class="col-12 mb-5"></div>
      <h4 class=" mt-5 align-center">ご注文ありがとうございました！</h4>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 mb-5"></div>
    <div class="col-12 center-block text-center mt-5">
      <%= image_tag 'illust1782.png',size: "160x160", class: "mr-4" %>
      <%= image_tag 'illust1780.png',size: "160x160" %>
    </div>
  </div>
</div>

