<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 mb-5"></div>
    <div class="col-12 mb-5"></div>
      <h4 class="col-5 mt-5 align-center">ご注文ありがとうございました！</h4>
    <div class="col-9 mb-5"></div>
    <div class="col-5 center-block mt-5">
      <%= image_tag 'illust1782.png',size: "160x160", class: "mr-4" %>
      <%= image_tag 'illust1780.png',size: "160x160", class: "ml-4" %>
    </div>

  </div>
</div>

