/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// *{
//   border: 2px solid red;
// }

body {
  font-family: "MS P明朝";
}
 
 body {
   min-height: 100vh;
 }
header{
   background-color: #7b5544;
  border-bottom: 20px double #6b3f31;
}
// .navbar-toggler{
//   position: fixed;
//   top: 30px;
//   right: 30px;
// }

footer{
  background-color: #6b3f31;
}
// タイトルの楕円の背景部分
.title{
  background-color: #e6bfb2;
  border-radius: 20px;
  color: #3f312b;
}
// テーブルのth部分
.head{
  background-color: #e6bfab;  
  color: #3f312b;
}
.t-body{
  background-color: #fdede4;
}

// メイン部分背景色
#main{
  background-color: #fffff9;
  min-height: 680px;
  max-height: 5000px;
}

// フラッシュメッセージ設定
#flash-notifications{
  color: white;

  .notice {
    background-color: #3cb371;
    padding: 12px 20px;
  }

  .alert {
    background-color: #fa8072;
  }
}

// 新規登録時のエラーメッセージ表示
#error_explanation{
  color: white;
  background-color: #fa8072;
  padding: 5px 20px;
}


#about{
  font-size: 75px;
}

// homeページの画像にオーバーレイした文字の位置調整
.card-img-overlay{
  background-color: rgba(0,0,0,0.2) ;
  font-weight: bold;
}
#welcome-message{
  padding: 150px 0 0 100px;
  line-height: 1.5;
}

// ジャンル検索テーブル枠線
.genre_search{
  border: 1px solid #6b3f31;
  width: 200px;
}
.genre_search th{
  border-bottom: 1px solid #6b3f31;
}
.genre_search td{
  padding-left: 15px;
  line-height: 2;
}

// ボタンデザイン
// .basic_btn{
//   color: white;
//   background-color: #e29676;
//   padding: 3px 8px;
//   border-color: #e29676;
//   border-radius: 6px;
// }
// .basic_btn:hover{
//   color: white;
// }
// .blue_btn{
//   color: white;
//   background-color: #00afcc;
//   padding: 3px 8px;
//   border-color: #00afcc;
//   border-radius: 6px;
// }
// .blue_btn:hover{
//   color: white;
// }


// 以下レスポンシブ

/* タブレット縦置きサイズ（768px）以下 */
@media screen and (max-width:768px) {
  // カスタマー
  // トップ画面
  .genre_search{
    width: 80%;
  }
  .card, .new-items{
    margin: 0 auto;
  }
  // about画面
  #about{
    font-size: 60px;
  }
  .about_p{
    font-size: 18px;
  }
  // フォームサイズ
  input[type="text"] {
  width: 90%;
  height: 30px;
  }
  input[type="email"] {
    width: 400px;
    height: 30px;
  }
  input[type="password"] {
    width: 400px;
    height: 30px;
  }
  input[type="search"] {
    width: 90%;
    height: 30px;
  }
}
/* スマートフォンサイズ（576px）以下 */
@media screen and (max-width:576px) {
  // カスタマー
  // トップ画面
  .genre_search{
    width: 80%;
  }
  // about画面
  #about{
    font-size: 50px;
  }
  .about_p{
    font-size: 15px;
  }
  // フォームサイズ
  input[type="text"] {
    width: 90%;
    height: 30px;
  }
  input[type="email"] {
    width: 300px;
    height: 30px;
  }
  input[type="password"] {
    width: 300px;
    height: 30px;
  }
  input[type="search"] {
    width: 90%;
    height: 30px;
  }
  table {
    display: block;
    width: 100%;
  }
  table tbody {
    display: block;
    width: 100%;
  }
  table tr {
    display: block;
    width: 100%;
  }
  table th {
    display: block;
    width: 100%;
  }
  table td {
    display: block;
    width: 100%;
  }
  .box{
    display: block;
    width: 100%;
  }
}